<!-- form.patient.component.html -->
<div class="form-container">
  <h2>{{ isUpdate ? 'Actualizar Paciente' : 'Registrar Nuevo Paciente' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="patient.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="lastname">Apellido:</label>
      <input type="text" id="lastname" [(ngModel)]="patient.lastname" name="lastname" required>
    </div>
    <div class="form-group">
      <label for="phone">Teléfono:</label>
      <input type="text" id="phone" [(ngModel)]="patient.phone" name="phone" required>
    </div>
    <div class="form-group">
      <label for="birthdate">Fecha de Nacimiento:</label>
      <input type="date" id="birthdate" [(ngModel)]="patient.birthdate" name="birthdate" required>
    </div>
    <button type="submit">{{ isUpdate ? 'Actualizar' : 'Registrar' }}</button>
  </form>
</div>
